/* Vars */
:root {
  --main-font-color: #707070;
  --alt-font-color: #FF8800;

  --main-background-color: #EFF0F1;
  --main-dark-font-color: #303030;
  --alt-dark-font-color: #CC6D00; /* No css pre-processors eh */
}

/* Common */

body {
  background: var(--main-background-color);
  color: var(--main-font-color);
  font-family: 'Raleway', sans-serif;
  font-size: 8px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: var(--alt-font-color);
  text-decoration: none;
}

a:hover {
  color: var(--alt-dark-font-color);
  transition: color 0.5s ease;
}

/* Variants */

.-gray {
  color: var(--main-font-color);
}

.-orange {
  color: var(--alt-font-color);
}

.-large {
  font-size: 1.33em;
}

/* Styles */

.main-container {
  display: flex;
  margin: 0 auto;
  width: 78.3em;
}

.logo-container {
  border-right: 0.2em solid var(--main-font-color);
  cursor: default;
  padding-right: 5em;
  padding-left: 3.5em;
  text-align: center;
}

.logo {
  background: url('../images/logo.png');
  background-image: url('../images/logo.svg'), none;
  height: 9.7em;
  width: 9.7em;
  margin: auto;
  transition: transform 0.5s ease;
}

.logo:hover, .logo:focus, .logo:active {
  transform: scale3d(1.3, 1.3, 1.3);
}

.firstname {
  font-size: 9.7em;
}

.surname {
  font-size: 8.3em;
}

.desc-container {
  line-height: 6.4em;
  margin: 1em 0 0 4em;
}

.first-line {
  font-size: 5em;
}

.second-line {
  font-size: 4.9em;
  font-weight: bold;
}

.third-line {
  font-size: 6.9em;
  font-style: italic;
}

.fourth-line {
  white-space: nowrap;
  font-size: 6.2em;
  font-style: italic;
}

.fifth-line {
  font-size: 4.23em;
  font-weight: 200;
}

#hidden-text {
  color: var(--alt-font-color);
  cursor: pointer;
  font-size: 5.7em;
  user-select: none;
}

.socials {
  font-size: 3em;
  text-align: center;
  margin: 2em 0;
}

.socials a {
  color: var(--main-font-color);
  margin: 0 0.2em;
}

.socials a:hover {
  color: var(--main-dark-font-color);
}

@media screen and (max-width: 700px) {
  body {
    font-size: 6px;
    position: relative;
    min-height: 100vh;
  }

  .main-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 5em;
    width: 100%;
  }

  .logo-container {
    border-right: 0;
    border-bottom: 0.2em solid var(--main-font-color);
    box-sizing: border-box;
    padding: 0 0 5em;
  }

  .desc-container {
    margin: 5em 0;
    text-align: center;
  }

  .socials {
    bottom: 0;
    margin: 1em 0;
    position: absolute;
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  body {
    font-size: 5px;
  }
}

@media screen and (max-height: 700px) and (min-width: 700px) {
  .main-container {
    margin-top: 20em;
  }
}

@media screen and (max-height: 500px) and (min-width: 700px) {
  .main-container {
    margin-top: 5em;
  }

  .socials {
    margin: 1.5em 0;
  }
}
